---
// JAVASCRIPT
import Layout from "../layouts/Layout.astro";
---

<!-- HTML -->
<Layout title="About">
  <main>
    <h1>About This Blog</h1>
    <p>This blog is inspired by my love for Ice Cream 💓.</p>
  </main>
</Layout>

<!-- CSS -->
<style>
  main {
    max-width: 100vh;
    width: 80%;
    margin: auto;
    padding: 50px 10px;
    color: var(--dark-blue)
  }

  p {
    white-space: pre-line;
    font-size: 2.4rem;
  }
</style>