---
// JAVASCRIPT
import heroSVG from '../../public/assets/hero-ice-cream.svg'
import spoonSVG from '../../public/assets/spoon-with-gradient.svg'
---

<!-- HTML -->
<header>
  <div>
    <span>Welcome to the</span>
    <span class="ice-cream-span">
      <span>ICE CREAM</span>
      <img src={spoonSVG} alt="Spoon svg" class="spoon-svg">
    </span>
    <span>blog</span>
    <img src={heroSVG} alt="Hero Ice Cream svg">
  </div>
</header>

<!-- CSS -->
<style>
  header {
    height: 95vh;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header div {
    display: flex;
    align-items: baseline;
    color: var(--color-text);
  }

  header .ice-cream-span {
    font-size: 6vw;
    background: -webkit-linear-gradient(left, var(--hot-pink), var(--rose-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: grid;
    margin: 0 2.4rem;
  }

  header .spoon-svg {
    width: 29vw;
    margin-top: -2.4vw;
  }

  header .hero-svg {
    widtH: 4vw;
    position: relative;
  }
</style>